// Suisse

@font-face {
  font-family: "Suisse-Li";
  src: url($font-path + "SuisseIntl-Light.otf");
}
@font-face {
  font-family: "Suisse-Reg";
  src: url($font-path + "SuisseIntl-Regular.otf");
}
@font-face {
  font-family: "Suisse-Med";
  src: url($font-path + "SuisseIntl-Medium.ttf");
}
@font-face {
  font-family: "Suisse-semBold";
  src: url($font-path + "SuisseIntl-SemiBold.ttf");
}
@font-face {
  font-family: "Suisse-Bold";
  src: url($font-path + "SuisseIntl-Bold.otf");
}

