@media (min-width: 1650px) {
  .container {
    max-width: 1320px;
  }
  .inner .container{
    max-width:1140px
  }
  .inner .cust-container{
    max-width: 1300px
  }
}
@media (min-width: 1300px) and (max-width: 1440px) {
  .container {
    max-width: 1200px;
    // border: 1px solid red;
  }
  .inner .container{
    max-width: 1000px
  }


  body .owl-theme .owl-next {
    #{$end-direction}: -25px;
  }
  body .owl-theme .owl-prev {
    #{$start-direction}: -25px;
  }
}

@media screen and (min-width: 992px) {

 
}

@media (min-width: 992px) and (max-width: 1300px) {
  
}
@media (min-width: 767.68px) and (max-width: 1300px) {

}






@media (max-width: 1650.98px) {
  .homeBanner .owl-carousel-banner .banner-item .bannerBox{
    margin-top: 13vh;
    h1{
      font-size: 60px;
    }
    p{
      font-size: 20px;
    }
    .btns-area {
      margin-top: 24px;
      .more {
        padding-top: 18px;
        padding-bottom: 15px;
        span{
          font-size: 16px;
        }
      }
    }
  }
  .main-topnav .bannerBg .customMenu{
    padding-top: 130px;
    .Rsec{
      .navigations li a{
        font-size: 30px;
        margin-bottom: 16px;
      }
      .contact{
        margin-top: 24px;
        .call p a{
          font-size: 25px;
          margin-top: 10px;
        }
      }
    }
  }
  .main-topnav .bannerBg .customMenu .Lsec .content-sec .content-box {
    padding-#{$end-direction}: 0;
    h4{
      font-size: 30px;
      margin-bottom: 24px;
    }
  }
  .homeBanner .owl-dots .owl-dot  {
    font-size: 14px;
    span{
      width: 115px;
    }
  }


  .interactive-map .map-cont .navigation-links a{
    font-size: 16px;
  }
  .interactive-map .map-cont .tags-content h3{
    font-size: 40px;
  }
  .interactive-map .map-cont .tags-content .details p {
    font-size: 18px;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox .btns-area .check-status{
    padding: 10px 20px;
    span{
      font-size: 16px;
    }
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox .btns-area .check-status.lev2{
    padding-top: 15px;
    padding-bottom: 14px;
    padding-#{$start-direction}: 15px;
    padding-#{$end-direction}: 20px;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox .btns-area .qual-form{
    padding-top: 15px;
    padding-bottom: 14px;
    padding-#{$start-direction}: 15px;
    padding-#{$end-direction}: 20px;
    span{
      font-size: 16px;
    }
  }

  footer .footer-links {
    background-position: left 115%;
    background-size: contain;
    padding: 48px 0 55px;
  }
}


@media (max-width: 1440.98px) {

  .homeBanner .owl-carousel-banner .banner-item .bannerBox {
    max-width: 700px;
  }
  footer .footer-links {
    background-position: left 104%;
  }
  footer .footer-links .col-lg-12 {
    max-width: 70%;
  }
  footer .footer-links ul li a{
    font-size: 15px;
  }
}


@media (max-width: 1199.98px) {
  .main-topnav .bannerBg .customMenu .Rsec .navigations li a {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .main-topnav .bannerBg .customMenu .Rsec .contact .call p a {
    font-size: 20px;
  }
  .main-topnav .bannerBg .customMenu .Rsec .contactBtn {
    font-size: 16px;
    padding: 7px 10px 5px;
  }
  .main-topnav .bannerBg .customMenu .Lsec .content-sec .content-box h4 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .main-topnav .bannerBg .customMenu .Lsec .content-sec .content-box p {
    font-size: 14px;
  }
  .partners {
    padding: 60px 0 120px;
    .home-header{
      margin-bottom: 50px;
    }
    .owl-theme {
      .owl-nav [class*="owl-"]{
        top: 120%;
      }
      button.owl-next{
        #{$end-direction}: 42%;
      }
      button.owl-prev{
        #{$start-direction}: 42%
      }
    }
  }
  .map-area{
    height: auto;
    padding-bottom: 50px;
  }
  .interactive-map .map-cont .main-content h2{
    font-size: 30px;
  }
  .interactive-map .map-cont .nav-pills .nav-link{
    padding: 13px 10px 10px;
  }
  .motem h3 {
    font-size: 20px;
  }
  .motem h3 span {
    font-size: 30px;
  }
  .motem .goo-anchor a{
    padding-#{$start-direction}: 30px;
    padding-#{$end-direction}: 30px;
    height: 95px;
    gap: 40px;
    font-size: 18px;
  }
  .home-news .news-card .img-box{
    height: auto;
  }
  .home-news .news-card.main-card .content-box p.date{
    font-size: 14px;
  }
  .home-news .news-card.main-card .content-box h3 {
    font-size: 18px;
  }
  .home-news .news-card .content-box p.date{
    font-size: 12px;
  }
  .home-news .news-card .content-box h3{
    font-size: 14px;
    line-height: 1.5;
  }
  .home-news .more a{
    padding-#{$start-direction}: 15px;
    padding-#{$end-direction}: 15px;
    height: 40px;
    font-size: 14px;
  }
  .main-topnav .bgTopNav .topNav .changeLang{
    font-size: 16px;
  }
  .main-topnav .bgTopNav .topNav .mottemHdBtn{
    font-size: 14px;
  }
  .main-topnav .bgTopNav .topNav .slide-nav {
    width: 105px;
    height: 35px;
    .menu-label{
      font-size: 14px;
      margin-#{$end-direction}: 10px;
    }
  }
  .main-topnav .bgTopNav .topNav .slide-nav span{
    width: 20px;
    margin-bottom: 4px;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox {
    max-width: 590px;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox h1 {
    font-size: 45px;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox p {
    font-size: 18px;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox .btns-area .more {
    padding-top: 15px;
    padding-bottom: 12px;
    span{
      font-size: 14px;
    }
  }

  footer .footer-links .col-lg-12 {
    max-width: 75%;
    gap: 7%;
  }
  footer .footer-links ul li a{
    font-size: 14px;
  }

  .faq {
    h3 {
      font-size: 25px;
    }
  }

  .regions-details {
    .main-sec {
      .content-box {
        padding: 0;
        h3 {
          font-size: 25px;
          margin-bottom: 20px;
        }
        .infos{
          div {
            span{
              font-size: 16px;
            }
            strong{
              font-size: 16px;
            }
          }
        }
      }
      .img-box{
        .big-img{
          width: 75%;
        }
        .small-mapImg{
          width: 295px;
          height: 335px;
          #{$start-direction}: 0;
        }
      }
    }
    .limit {
      .title {
        h3{
          font-size: 20px;
          margin-bottom: 25px;
        }
      }
      .directions {
        margin-bottom: 15px;
        padding: 0;
        p{
          font-size: 16px;
        }
      }
      .big-btn a{
        height: 60px;
        gap: 15px;
        padding-#{$start-direction}: 20px;
        padding-#{$end-direction}: 20px;
      }
    }
  }
  .status{
    padding-top: 50px;
    padding-bottom: 60px;
    h3{
      font-size: 20px;
      margin-bottom: 25px;
    }
  }

  .regions-details .main-sec .img-box.revSide{
    height: 600px;
  }
}



@media (max-width: 991.98px) {
  .homeBanner .owl-carousel-banner .banner-item .bannerBox {
    max-width: 500px;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox h1 {
    font-size: 35px;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox p {
    font-size: 16px;
    line-height: 32px;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox .btns-area .more {
    padding-top: 16px;
    padding-bottom: 13px;
    padding-#{$start-direction}: 15px;
    padding-#{$end-direction}: 20px;
  }
  .homeBanner .owl-dots{
    #{$start-direction}:10%;
    .owl-dot span{
      width: 90px;
    }
  }
  .navigator{
    #{$start-direction}:10px
  }
  .partners .home-header {
    font-size: 35px;
  }
  .interactive-map .map-cont .main-content h2 {
    font-size: 25px;
    margin-bottom: 60px;
  }
  .interactive-map .show-on-Map a {
    font-size: 18px;
    padding: 14px 20px 16px;
  }
  .interactive-map .map-cont .tags-content h3 {
    font-size: 32px;
  }
  .offset-xl-1{
    margin: 0 !important;
  }
  .motem h3{
    justify-content: center;
    margin-bottom: 15px;
  }
  .home-news .news-card .img-box{
    height: 180px;
    width: 320px;
    overflow: hidden;
    flex: 0 0 320px;
  }
  .home-news .news-card.main-card .img-box{
    width: 100%;
  }

  footer .footer-links{
    background-position: left 101%;
  }
  footer .footer-links .col-lg-12{
    max-width: 85%;
    gap: 8%;
  }
  footer .footer-links ul {
    gap: 15px;
    li a {
      font-size: 14px;
    }
  }
  footer .footer-white {
    padding-top: 35px;
    padding-bottom: 35px;
    .col-lg-12{
      gap: 20px;
    }
     p{
      font-size: 14px;
    }
  }



  .about .main-sec {
    .img-box{
      margin-top: 20px;
    }
    .content-box{
      // margin-bottom: 10px;
      h3{
        font-size: 25px;
        margin-bottom: 24px;
      }
      p{
        font-size: 16px;
      }
    }
  }

  .about .strategy .main-data {
    h3{
      font-size: 25px;
      margin-bottom: 24px;
    }
    p{
      font-size: 16px;
    }
  }

  .about .strategy .vision-msg-cards {
    margin-bottom: 20px;
    .content-box{
      h3{
        font-size: 22px;
        margin-bottom: 15px;
      }
      p{
        font-size: 14px;
        line-height: 23px;
      }
    }
  }
  .about .strategyDimensions{
    .main-sec {
      h3{
        font-size: 22px;
        margin-bottom: 15px;
      }
      p{
        font-size: 16px;
      }

    }
    .tabs-sec .nav .nav-item .nav-link{
      min-width: 200px;
      padding: 10px 15px;
      font-size: 15px;
    }
    .tabs-sec .tab-content {
      p.main-p{
        font-size: 15px;
        margin-bottom: 40px;
      }
      .with-img .content-box {
        h4{
          font-size: 18px;
          margin-bottom: 15px;
        }
        p{
          font-size: 14px;
        }
        ul li{
          font-size: 14px;
        }
      }

      .list-head{
        font-size: 18px;
        margin-bottom: 25px;
      }
      ul.with-numbers{
        li{
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
      h4.yellow-bg{
        font-size: 16px;
      }
      .with-img.with-title {
        gap: 35px;

        .img-box{
          flex: 0 0 250px;
          height: 150px;
          h4{
            font-size: 16px;
          }
        }
        .content-box {
          h5{
            font-size: 18px;
          }
        }
      }

      .new-sec .nav {
        gap: 10px;
        .nav-item {
          .nav-link{
            min-width: 125px;
            padding: 11px 15px;
            
          }
        }
      }


      
    }
    .tabs-sec .new-sec {
      .tab2-cont {
        h4{
          font-size: 18px;
          margin-bottom: 15px;
        }
        ul li{
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
    .tabs-sec .last-sec .sideBySide{
      h5{
        font-size: 16px;
        margin-top: 7px;
      }
      p{
        font-size: 14px;
      }
    }
  }

  .def h3{
    font-size: 25px;
  }
  .def ul li p {
    font-size: 16px;
  }



  .motem-main .main-sec {
    .content-box {
      padding: 0;
      h3{
        font-size: 25px;
        margin-bottom: 20px;
      }
      p{
        font-size: 16px;
      }
    }
    .img-box{
      margin-top: 20px;
    }
  }
  .servicesList-sec h3{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .servicesList-sec {
    .col-lg-3{
      width: 50%;
    }
    .service-listCard{
      max-width: 300px;
      .content-box h4{
        font-size: 16px;
      }
    }
  }
  .big-btn a{
    padding-#{$start-direction}: 30px;
    padding-#{$end-direction}: 30px;
    font-size: 16px;
    gap: 25px;
  }
  .servicesList-sec .big-btn a {
    height: 55px;
  }
  .pageTitle {
    height: auto;
    padding-bottom: 30px;
    h2{
      font-size: 30px;
    }
  }

  .E-servicesList .eServiceCard{
    margin-bottom: 20px;
  }
  .E-servicesList .eServiceCard .content-box .hidden-area .btn-cont a span {
    font-size: 13px;
  }
}

@media (max-width: 767.98px) {
  .main-topnav .bgTopNav .topNav{
    margin-#{$start-direction}: 3%;
    margin-#{$end-direction}: 4%;

  }
  .main-topnav .bgTopNav .topNav {
    .left{
      gap: 15px;
    }
    .slide-nav {
      width: 50px;
      .menu-label{
        display: none;
      }
    }
    .mottemHdBtn{
      font-size: 12px;
      padding: 10px 15px 9px;
    }
    .changeLang{
      font-size: 14px;
    }
  }
  .partners .owl-theme{
    button.owl-next {
      #{$end-direction}: 36%;
    }
    button.owl-prev {
      #{$start-direction}: 36%;
    }
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox .btns-area .lev2{
    margin-bottom: 10px;
  }

  .about .main-sec .content-box{
    padding: 0;
  }
  .about .strategyDimensions .tabs-sec .tab-content .new-sec .nav,
  .about .strategyDimensions .tabs-sec .nav{
    padding: 0;
  }

  .contact-us {
    .contact-banner{
      height: 170px;
       .content-box {
        margin-right: 40px;
        h3{
          font-size: 25px;
          margin-bottom: 10px;
        }
        p{
          font-size: 18px;
        }
      }
    }
    .contact-data {
      h3{
        font-size: 25px;
        margin-bottom: 24px;
      }
      ul.info li{
        .label{
          font-size: 16px;
        }
        .target{ 
          font-size: 16px;
        }
      }
    }
  }

  .regions-details .main-sec .img-box,
  .regions-details .main-sec .img-box.revSide{
    width: 100%;
    height: 555px;
    .small-mapImg{
      width: 235px;
      height: 265px;
    }
  }
  .faq .search-area {
    width: 100%;
    input{
      width: 100%;
    }
  }
  .map-area .map-bg > div img{
    object-position: left;
  }
  .modalSearch .modal-dialog .modal-content .SearchCustom{
    width: 100%;
  }

  .breadcrumb{
    height: auto;
    padding-top: 18px;
    padding-bottom: 15px;
    .items{
      margin-top: 0;
      flex-wrap: wrap;
    }
  }
}


@media (max-width: 574.98px) {
  .main-topnav .bgTopNav .topNav .a-logo{
    max-width: 150px;
  }
  .main-topnav .bgTopNav .topNav {
    margin-#{$start-direction}: 1%;
    margin-#{$end-direction}: 1%;
  }
  .main-topnav .bgTopNav .topNav .left{
    gap: 5px;
  }
  .main-topnav .bgTopNav .topNav .slide-nav{
    height: 30px;
    width: 45px;
    padding: 10px 0 6px;  
  }
  .main-topnav .bgTopNav .topNav .mottemHdBtn{
    padding: 6px 15px 5px;
    font-size: 10px;
  }
  .main-topnav .bgTopNav .topNav .changeLang {
    font-size: 12px;
  }
  .main-topnav .bgTopNav .topNav .slide-nav .close{
    max-width: 15px;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox {
    margin-top: 2vh;
  }
  
  .homeBanner .owl-carousel-banner .banner-item .bannerBox h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox p {
    font-size: 14px;
    line-height: 30px;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox .btns-area .more {
    padding-top: 12px;
    padding-bottom: 10px;
    padding-#{$start-direction}: 10px;
    padding-#{$end-direction}: 15px;
  }
  .navigator {
    #{$start-direction}: 0;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox .btns-area .more span ,
  .homeBanner .owl-carousel-banner .banner-item .bannerBox .btns-area .check-status span ,
  .homeBanner .owl-carousel-banner .banner-item .bannerBox .btns-area .qual-form span {
    font-size: 12px;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox .btns-area .qual-form .img-box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox .btns-area .check-status .img-box ,
  .homeBanner .owl-carousel-banner .banner-item .bannerBox .btns-area .qual-form .img-box {
    width: 25px;
    height: 25px;
    img{
      width: 13px;
    }
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox .btns-area .qual-form{
    padding-top: 11px;
    padding-bottom: 10px;
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox .btns-area .more img{
    width: 13px;
  }
  .partners .home-header {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .homeBanner .owl-dots {
    gap: 18px;
    .owl-dot {
      font-size: 12px;
      span{
        width: 60px;
        margin-top: 12px;
      }
    }
  }
  .interactive-map .map-cont .main-content h2 {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .container .container{
    padding: 0 !important;
  }
  .interactive-map .map-cont .nav-pills .nav-link{
    font-size: 14px;
    line-height: 14px;
  }
  .interactive-map .map-cont .tags-content h3 {
    font-size: 24px;
  }
  .interactive-map .map-cont .tags-content .details p {
    font-size: 14px;
    line-height: 23px;
  }
  .interactive-map .map-cont .tags-content .details a.for-more {
    padding: 10px 20px;
    font-size: 14px;
  }
  .interactive-map .show-on-Map a {
    font-size: 14px;
    padding: 10px 15px 11px;
  }
  .interactive-map .map-cont .no-tags h4{
    gap: 25px;
    font-size: 22px;
    flex-wrap: wrap;
  }
  .interactive-map .show-on-Map a .img-box{
    width: 25px;
    height: 25px;
    img{
      width: 13px;
    }
  }
  .interactive-map .map-cont .no-tags p{
    font-size: 14px;
  }
  .motem {
    padding: 65px 0;
    h3 {
    font-size: 16px;
    span{
      font-size: 25px;
      }
    }
    .goo-anchor a {
      padding-#{$start-direction}: 20px;
      padding-#{$end-direction}: 20px;
      height: 80px;
      gap: 25px;
      font-size: 16px;
      .img-box{
        width: 25px;
        height: 25px;
        img{
          width: 13px;
        }
      }
    }
  }


  .home-news {
    padding-top: 60px;
    padding-bottom: 65px;

    .main-header {
      font-size: 25px;
      margin-bottom: 24px;
    }
    .news-card{
      flex-direction: column;
      margin-bottom: 15px;
      // padding: 0;
      .img-box{
        flex:  0 0 auto;
      }
      .content-box{
        margin: 0;
      }
    }
     .news-card.main-card {
        margin-bottom: 40px;
        .content-box {
        p.date {
          font-size: 12px;
        }
        h3{
          font-size: 16px;
        }
      }
    }

  }
  .navigator li {
    margin: 0px 10px 3px;
    a{
      width: 10px;
      height: 10px;
    }
  }
  

  footer {
    margin-top: 50px;
    .footer-white p {
      font-size: 12px;
      text-align: center;
    }
    .footer-links {
      .col-lg-12{
       gap: 0;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
      }
       ul {
       gap: 10px;
       width: auto;
       justify-content: center;
       align-items: center;
     }
   }
  }

  .main-topnav .bannerBg .customMenu{
    padding-top: 100px;
    padding-right: 5%;
    padding-left: 5%;
    .Rsec{
      padding-#{$end-direction}: 20px;
      .navigations li {
        a{
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
      .contact {
        .call {
          p{
            font-size: 16px;
            a{
              font-size: 18px;
              line-height: 18px;
              margin-top: 0;
            }
          }
        }
      }
      .contactBtn{
        margin-top: 10px;
      }
    }
    .Lsec{
      padding-right: 20px;
      .content-sec .content-box {
        h4{
          font-size: 16px;
          margin-bottom: 10px;
        }
        p{
          font-size: 12px;
          line-height: 22px;
        }
      }
    }
  }

  .about .main-sec .content-box p {
    font-size: 14px;
  }
  .about .strategy .main-data h3 {
    font-size: 20px;
  }
  .about .strategy .main-data p {
    font-size: 14px;
  }
  .about .strategyDimensions .main-sec p {
    font-size: 14px;
  }
  .about .strategyDimensions .tabs-sec .nav .nav-item .nav-link {
    min-width: 135px;
    padding: 10px 10px;
    font-size: 15px;
  }
  .about .strategyDimensions .main-sec {
    margin-bottom: 30px;
  }
  .about .strategyDimensions .tabs-sec .tab-content p.main-p{
    font-size: 14px;
  }
  .about .strategyDimensions .tabs-sec .tab-content .with-img {
    flex-direction: column;
  }
  .about .strategy .vision-msg-cards .img-box{
    margin-bottom: 10px;
  }
  .about .strategyDimensions .tabs-sec .tab-content h4.yellow-bg{
    padding: 12px 20px 18px;
  }
  .about .strategyDimensions .tabs-sec .tab-content .with-img.with-title .img-box{
    flex: 0 0 170px;
  }
  .pageTitle {
    height: auto;
    padding-bottom: 20px;
    h2{
      font-size: 25px;
    }
  } 

  .contact-us .contact-banner .content-box{
    margin-right: 20px;
  }
  .contact-us .contact-data{
    padding: 0 20px;
  }


  .def h3{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .def ul li p {
    font-size: 14px;
  }



  .motem-main .main-sec .content-box p {
    font-size: 14px;
  }
  .servicesList-sec .col-lg-3{
    width: 100%;
  }
  .servicesList-sec .service-listCard{
    margin: 0 auto;
    margin-bottom: 20px; 
  }
  .big-btn a {
    padding-#{$start-direction}: 20px;
    padding-#{$end-direction}: 20px;
    font-size: 14px;
    gap: 15px;
    .img-box{
      width: 25px;
      height: 25px;
      img{
        width: 13px;
      }
    }
  }

  .faq .accordion .accordion-item .accordion-header .accordion-button{
    font-size: 16px;
  }
  .faq .accordion .accordion-item .accordion-body {
    padding-#{$end-direction}:0 ;
    font-size: 14px;
    p ,
    ul li ,
    a ,
    h5 {
      font-size: 14px;
    }
  }
  .faq .show-more a{
    span{
      font-size: 14px;
    }
    img {
      max-width: 18px;
    }
  }

  .regions-details .main-sec .content-box h3 {
    font-size: 22px;
  }
  .regions-details .main-sec .content-box .infos{
    gap: 10px;
  }
  .regions-details .main-sec .content-box .infos div span {
    font-size: 14px;
    width: 110px;
  }
  .regions-details .main-sec .content-box .infos div strong {
    font-size: 14px;
  }
  .regions-details .main-sec .img-box,
  .regions-details .main-sec .img-box.revSide {
    width: 100%;
    height: 475px;
  }
  .regions-details .main-sec .img-box .big-img {
    width: 350px;
  }
  .regions-details .main-sec .img-box .small-mapImg {
    width: 160px;
    height: 170px;
  }
  .regions-details .limit .title h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .regions-details .limit .directions {
    margin-bottom: 10px;
  }
  .regions-details .limit .directions strong {
    font-size: 14px;
    min-width: 45px;
  }
  .regions-details .limit .directions p {
    font-size: 14px;
    line-height: 23px;
  }
  .status h3 {
    font-size: 18px;
  }
  .status .status-list .status-card .data h5 {
    font-size: 14px;
  }
  .status .status-list .status-card .data ul li {
    font-size: 12px;
  }
  .status .status-list .status-card .status-circle{
    width: 25px;
    height: 25px;
    flex: 0 0 25px;
  }
  .regions-details .limit .big-btn a{
    height: 45px;
  }
  .status .status-colors div p {
    font-size: 12px;
  }

  .SearchCustom{
    height: 55px;
    padding-#{$start-direction}: 20px;
  }
  .SearchCustom .searchSubmit{
    width: 55px;
    img{
      max-width: 20px;
    }
  }
  .SearchCustom .boxSloce{
    margin-top: 20px;
    img{
      max-width: 25px;
    }
  }
  .SearchCustom .searchInput{
    font-size: 14px;
  }
}


@media (max-width: 399.98px) {
  .regions-details .main-sec .img-box {
    width: 100%;
    height: 350px;
  }
  .regions-details .main-sec .img-box .big-img {
    width: 250px;
  }

}



html[lang="en"]{

}



/*
    min-height
*/

@media(min-height: 1000px) and (max-width: 950px){
  // .innerBanner .breadcrumb-banner{
  //   max-height: 770px;
  //   padding-top: 110px;
  // }
  // .homeBanner .owl-carousel-banner .banner-item{
  //   max-height: 770px;
  //   padding-top: 110px;
  // }
  // .homeBanner {
  //   max-height: 770px;
  // }
  // .homeBanner .owl-carousel-banner .banner-item .bannerBox{
  //   margin-top: 25vh;
  // }
  // .homeBanner .img-box.logo-img{
  //   top: 12vh;
  // }
}



/*
    max-height
*/
@media(max-height:750px){
  // .homeBanner .owl-carousel-banner .banner-item{
  //   padding-top: 17vh;
  // }
  // .innerBanner .breadcrumb-banner{
  //   padding-top: 17vh;
  // }
  // .homeBanner .owl-carousel-banner .banner-item .img-box{
  //   margin-bottom: 10vh;
  // }
  // .innerBanner .breadcrumb-banner .img-box{
  //   margin-bottom: 10vh;
  // }
}


/*
    min & max height

*/
@media(min-height:300px) and (max-height:550px){
  // .homeBanner .owl-carousel-banner .banner-item{
  //   padding-top: 100px;
  // }
  // .innerBanner .breadcrumb-banner{
  //   padding-top: 100px;
  // }
}