$font-ar: "Suisse-Reg";
$font-en: "Suisse-Reg";

$font-path: "../fonts/";
$img-path: "../images/";

// colors


$main-color:#887852;
$main-color2:#765A1A;
$white:#ffffff;
$dark-gray:#606266;
$light-gray:#A3A3A3;
$gray1:#6C757D;
$gray2:#A5A3A8;
$footer-bg:#756B65;
$p-color:#5E6065;
$black-color:#303030;
$green1:#BCAF92;
$green2:#A79877;
$green3:#D1C5A9;
$dark:#464749;
$color1:#7F6E48;

$dark-green:#045230;
$color-1:#CBC8BF;


$theme-colors: (
);

// font weight
$w-thin: 100; // (Hairline)
$w-extra-light: 200; // (Ultra Light)
$w-light: 300;
$w-normal: 400; // (Regular)
$w-medium: 500;
$w-semi-bold: 600; // (Semi Bold)
$w-bold: 700;
$w-extra-bold: 800; // (Ultra Bold)
$w-black: 900; //(Heavy)



//more 

$raduis-normal : 8px;